iframe{
	width: 100%;
}
.nav-below{
	margin-top: 55px;
	display: block;
	
}
.search-sort{
	border: 2px solid pink;
}
 .search-sort__divider{
  	
  	border-radius: 10px;
  	display: grid;
  	grid-template-columns: 1fr 0.025fr 0.3fr;

 }
 
 .search-sort__sort{
 	display: inline-grid;
  	grid-template-rows: 1fr 1fr;
    
 }

 .article-title{
 	color: #444444;
 }

 .content-section-main{
	background: #ffffff;
	
	border:1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: 10px;
}

.article-title:hover{
	color:#428111;
	text-decoration: none;
}
.article-title-border{
	border-bottom:3px solid blue;
}
.article-metadata{
  padding-bottom:50px;

}
.article-metadata a:hover{

 color:#333;
 text-decoration: none;
}

.article-content{
  border-top: 3px solid #7fbf8e;
  border-radius:5px;

}

.profile-small-image{
	width: 50px;
	height: 50px;
}

.tags{
	color:#362f2f;
	background-color: #F7D6E0;
	display: inline;
	text-decoration: none;
	margin: 3px;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
}
.tags:hover{
	text-decoration: none;
	color: white;
	background-color: darkkhaki;
}

.shortcuts{
 	background-color: azure;
 	color:blue;
 }

.shortcuts:hover{
 	background-color: aquamarine;
 	font-size: 20px;
 	color: white;
 	border-bottom: 2px solid blue;

}

img{
	width: 100%;
}

 /* no need just for this page*/

 @media ( max-width: 767px){
   .hide-small{
   	visibility: hidden;
   	display: none;

 	}
 }

