{% load static %}
{% load bootstrap %}
<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" 
  content="width=device-width" initial-scale="1.0"/>

  <title>Funny Learning</title>
  
  <!-- css style sheets and Bootstrap -->
  
  <link rel="stylesheet" type="text/css" 
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <script type="text/javascript" charset="utf-8"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
 
   
  <link rel="stylesheet" href="{% static 'user/base.css' %}"
  type="text/css" />
  
  {% block css %}
  {% endblock %}
  
  <!--javascript and j-query -->
  
  
    
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light ">
       <a class="navbar-brand text-primary" href="index.html">
          <span class="text-dark">F</span>unny 
          <span class="text-dark">L</span>earning
        </a>

        <button class="navbar-toggler" 
          type="button" data-toggle="collapse" 
          data-target="#navbarNav" >
          
           <span class="navbar-toggler-icon">
           </span>
        </button>
        <div class="collapse navbar-collapse"
            id="navbarNav">
            <div class="navbar-nav text-center">
                <div class="nav-box-grid d-md-none">
                   <a href="login.html" 
                    class="text-center main-link">Log in</a>
                   <a href="signup.html" 
                    class="text-center main-link">Sign in</a>
                </div>
                <form class="nav-form-inline">
                  <input class="form-control" type="search" placeholder="Search">
                 <button class="btn " type="submit">
                   <img src="images/search.png" width="30px" alt="" />
                 </button>
                </form>
                <a class="nav-item nav-link font-weight-bold "
                    href="{% url 'user:home' %}">Home</a>
                <a class="nav-item font-weight-bold  nav-link"
                    href="{% url 'post:Posts' %}">Posts</a>
              
               {% if user.is_authenticated %}      
                <a class="text-primary d-none font-weight-bold d-md-block nav-link" 
                    href="{% url 'user:profile' user.username %}">Profile</a>
                <a class="text-primary d-none font-weight-bold d-md-block nav-link " 
                    href="{% url 'user:logout' %}">Logout</a>   
                {% else %}
                  <a class="text-primary d-none font-weight-bold d-md-block nav-link" 
                    href="{% url 'user:login' %}">Log in</a>
                  <a class="text-primary d-none font-weight-bold d-md-block nav-link " 
                    href="signup.html">Sign in</a>   
                


                {% endif %}


                    
                    
            </div>
        </div>
    </nav>
    <span class="nav-below"></span>
    {% block content %}
    {% endblock %}
    
    
    <footer class="page-footer font-small bg-secondary">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#" class="text-white">Funnylearning.com</a>
      </div>
    </footer>
    {% block javascript %}
    {% endblock %}
  </body>
</html>